<link rel="stylesheet" href="{{ 'global-ajax-cart-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'global-ajax-cart-drawer.css' | asset_url | stylesheet_tag }}</noscript>

<style>
   .cart-img img.item-img{
        height:75px;
        width:75px;
    }
</style>

<!-- AJAX CART HTML -->
<ajax-cart class="cart-drawer" style="visibility: hidden;" id="cart-drawer" updating="false" data-touch-moveable>
    <div class="d-flex justify-content-center align-items-center section-header mb-md-7 mb-5">
        <h1 class="page-title cart-title mb-0" tabindex="0">{{ 'templates.cart.title' | t }}</h1>
        <a href="#close-cart" class="btn-close float-right close-ajax--cart d-none" role="button" tabindex="0" rel="nofollow" aria-label="Close" title="Close">
            <span class="icon-close text-gray-900"></span>
        </a>
    </div>

<div class="row">
    <form data-cart-form action="{{ routes.cart_url }}" method="post">
        {% if cart.item_count > 0 %}
            {% if settings.enable_shipping_bar %}
                <div class="col-12">
                    <div class="col-12" data-cartShippingBar>
                        <div class="d-flex align-items-center">
                            <span class="icon-free-shipping" style="font-size: 22px;"></span>
                             <p class="freeshippingbar"></p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-12">
                <div class="cart-header py-2 px-3 bg-gray-300">
                    <div class="row align-items-center">
                        <div class="col-4 col-md-6">{{ 'templates.cart.headings.product' | t }}</div>
                        <div class="d-none d-md-block col-md-2 text-md-center">{{ 'templates.cart.headings.price' | t }}</div>
                        <div class="col-4 col-md-2 text-center">{{ 'templates.cart.headings.quantity' | t }}</div>
                        <div class="col-4 col-md-2 text-end">{{ 'templates.cart.headings.total' | t }}</div>
                    </div>
                </div>
                <div class="cart-body" data-cart--body>
                 <div data-lineItemsWrapper>

                 </div>
                </div>
            </div>
        {% else %}
            <div class="cart__warnings text-center section-min-height d-flex flex-column justify-content-center">
                <span class="icon-bag display-1 text-gray-500"></span>
                <h2 class="cart__empty-text">{{ 'templates.cart.empty' | t }}</h2>
                <a href="{{ routes.all_products_collection_url }}" class="link">
                    {{ 'general.continue_shopping' | t }}
                </a>
            </div>
        {% endif %}
    </form>

    <div class="col-12 mt-5 cart-total px-5 {% unless cart.item_count > 0 %}d-none{% endunless %}" data-checkoutBtns>
        <div class="row no-gutters">
            <div class="col">
                <h5 class="text-uppercase my-0">{{ 'templates.cart.total' | t }}:</h5>
            </div>
            <div class="col-6 text-end">
                <h5 class="my-0" data-cartTotal></h5>
            </div>
        </div>

        {% if settings.enable_cart_notes %}
            {%- assign cartNote = cart.note -%}
            <div class="row mt-5" data-cartNote>
                <div class="col-12 mx-auto text-center">
                <p>{{ 'templates.cart.note' | t }}:</p>
                    <textarea name="note" class="form-control" rows="4" data-default="{{ cartNote | strip }}">{{ cart.note }}</textarea>
                    <button type="submit" class="btn m-auto text-decoration-underline" data-saveNote style="display: none;" data-default="Save" data-adding_txt="saving..">Save</button>
                    <p class="font-size-sm text-center pt-3" data-resultMsg style="display: none;"></p>
                </div>
            </div>
        {% endif %}

        <p class="small font-italic mt-3 text-center">{{ 'templates.cart.shipping_at_checkout' | t }}</p>
        <a href="/checkout" class="btn btn-primary btn-block">{{ 'templates.cart.checkout' | t }}</a>
        <a href="/cart" class="btn d-block m-auto">{{ 'templates.cart.View_Shopping_cart' | t }}</a>

        {% if additional_checkout_buttons %}
            <span class="additional-checkout-buttons">
                <div id="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
                </div>
            </span>
        {% endif %}
    </div>
</div>
<script type="application/json" data-cartScriptJSON>
    {{ cart | json }}
</script>
</ajax-cart>
<!-- END of AJAX CART HTML -->