{% assign customPagination = section.settings.custom_pagination | strip | newline_to_br | strip_newlines | split: "," %}

<custom-select class="sortby-dropdown custom-pagination-dropdown ms-2 radio-out {% if type == 'mobile' %} sortby-dropdown-m {% endif %}">
    <fieldset>
        <legend class="visually-hidden-skip">{{ product_count }}</legend>
        <div class="filter__wrapper d-flex default border bg-white justify-content-between py-2 px-3 align-items-center position-relative">
            <span class="option_txt text-black">{{ product_count }}</span>
            <i class="icon-arrow-down ms-auto font-size-sm lh-1"></i>
        </div>
        <div class="custom--select">
            <ul class="list-unstyled m-0 toggle-content" data-custom-pagination data-type="content">
                {% for custom_paginate in customPagination %}
                    {%- assign custom_paginate = custom_paginate | append: ' ' -%}
                    <li data-value="{{ option.value | escape }}" class="form-check py-1 {% if custom_paginate contains product_count %}selected{% endif %}" >
                        {%- assign product_count = product_count | strip | escape | plus: 0 -%}
                        <input type="radio" value="{{ custom_paginate }}" class="pagination_value form-check-input sortby_options"  name="count" id="custom_sort_by-{{ custom_paginate }}" {% if custom_paginate contains product_count %} checked{% endif %}/>
                        <label for="custom_sort_by-{{ custom_paginate }}" class="option_txt form-check-label w-100" title="Paginate as {{ custom_paginate }}">{{ custom_paginate }}</label>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </fieldset>
</custom-select>
