<ul class="navbar-nav align-items-center w-100 justify-content-between">
    {% for link in linklists[section.settings.menu].links %}
        {% assign child_list_handle = link.title | handleize %}
        <!-- =============================================
        =            ADD MEGAMENU CODE HERE            =
        ============================================== -->
        <!--============  MEGAMENU END  =============-->
        <!----------  Simple Nav Dropdown  ---------->   
        {% if menus[child_list_handle].links != blank  %}    
            <li class="nav-item dropdown {% if link.active %}active{% endif %}" >
                <a data-href="{{ link.url }}" {%- if menus[child_list_handle].links.size > 0 -%}is="drop-down"{%- endif -%} class="nav-link d-flex align-items-center justify-content-between {{ link.handle }}" tabindex="0" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="menu" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                    <span>{{ link.title }}</span> <i class="icon-arrow-down ms-1 font-size-xs"></i>
                </a>
                <ul class="dropdown-menu" data-type="content">
                    {% for childlink in menus[child_list_handle].links %}
                        {% assign subchild_list_handle = childlink.title | handleize %}
                        {% if menus[subchild_list_handle].links != blank %}
                            <li class="nav-item dropdown {% if childlink.active %} active{% endif %}" >
                                <a data-href="{{ childlink.url }}" {%- if menus[subchild_list_handle].links.size > 0 -%}is="drop-down"{%- endif -%} class="nav-link d-flex align-items-center justify-content-between {{ childlink.handle }}" tabindex="0" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="menu" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                    <span>{{ childlink.title }}</span> <i class="icon-arrow-down ms-1 font-size-xs"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center justify-content-between{% if childlink.active %} active{% endif %} {{ childlink.handle }}" is="simple-menu-item" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                    {{ childlink.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>    
        {% else %}
            <li class="nav-item {% if link.active %} active{% endif %}">
                <a class="nav-link text-uppercase {{ link.handle }}" href="{{ link.url }}" is="simple-menu-item" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                    {{ link.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>