<nav>
  <ul class="pagination" data-pagination_bar="{{ product_count }}">

    {% if paginate.previous %}
      <li class="page-item">
        <a class="page-link d-inline-flex align-items-center justify-content-center" data-pagination href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}" aria-label="{{ paginate.previous.title }}">
          <span aria-hidden="true"><span class="icon-previous"></span></span>
        </a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      <li class="page-item">
        {% if part.is_link %}
          <a class="page-link d-inline-flex align-items-center justify-content-center" data-pagination href="{{ part.url }}" title="{{ part.title }}" aria-label="{{ part.title }}">
            <span>{{ part.title }}</span>
          </a>
        {% else %}
          {% if part.title == paginate.current_page %}
            <a class="page-link active d-inline-flex align-items-center justify-content-center">
              <span class="active">{{ part.title }}</span>
            </a>
          {% else %}
            <span class="dots d-inline-flex align-items-end justify-content-center">
              <span>{{ part.title }}</span>
            </span>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}

    {% if paginate.next %}
      <li class="page-item">
        <a class="page-link d-inline-flex align-items-center justify-content-center" data-pagination href="{{ paginate.next.url }}" title="{{ paginate.next.title }}" aria-label="{{ paginate.next.title }}">
          <span aria-hidden="true"><span class="icon-next"></span></span>
          <span class="visually-hidden">{{ 'general.pagination.next' | t }}</span>
        </a>
        <link rel="prerender" href="{{ paginate.next.url }}">
      </li>
    {% endif %}

  </ul>
</nav>
