<!doctype html>
<!--[if IE 9]> <html class="ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{ canonical_url }}">
 
    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {% endif %}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'styles-tags' %}

    {{ content_for_header }}

  </head>

  <body class="template-password">
    {{ content_for_layout }}
    
    {% render 'script-tags' %}

  </body>
</html>
