<section class="section-content" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-8 text-center mb-md-5 mx-auto">
                {% if section.settings.heading_txt != blank %}
                    <h2 class="section-title mb-2">{{ section.settings.heading_txt }}</h2>
                {% endif %}

                {% if section.settings.lead_txt != blank %}
                    <p>
                        {{ section.settings.lead_txt }}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            {%- liquid 
              assign featuredBlogs = section.settings.blog_handles | remove: " " | split: ','
              assign featuredArticles = false

              for featuredBlog in featuredBlogs
                if blogs[featuredBlog].articles
                  if featuredArticles
                    assign featuredArticles = featuredArticles | concat: blogs[featuredBlog].articles
                  else
                    assign featuredArticles = blogs[featuredBlog].articles
                  endif
                endif
              endfor
            -%}

            {% if featuredArticles %}
              {% assign featuredArticles = featuredArticles | sort: 'published_at' | reverse %}
              {% for article in featuredArticles limit: 3 %}
                  <div class="col-sm-6 col-lg-4 d-flex my-3 my-lg-0">
                      {% render 'card-article-style', article: article %}
                  </div>
              {% endfor %}
            {% endif %}
        </div>

        {% if section.settings.btn_txt != blank %}
            <div class="text-center">
                <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} mt-5" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>
            </div>
        {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Blog Posts Grid",
  "tag": "section",
  "class": "index-blog-posts-grid",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "header",
      "content": "Source Blogs"
    },
    {
      "type": "text",
      "id": "blog_handles",
      "label": "Blog Handles",
      "info": "Fetch the recent posts from multiple blogs by using each blog handle separared by a comma."
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "textarea",
      "id": "heading_txt",
      "label": "Heading Text",
      "default": "News & Views"
    },
    {
      "type": "textarea",
      "id": "lead_txt",
      "label": "Lead Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo."
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#FAFAF7"
    },
    {
      "type": "color",
      "id": "section_txt_color",
      "label": "Text Color"
    },
    {
      "type": "select",
      "id": "btn_type",
      "label": "Button Type",
      "options": [{
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "",
          "label": "Solid"
        }
      ],
      "default": "outline"
    },
    {
      "type": "select",
      "id": "btn_variant",
      "label": "Button Variant",
      "options": [{
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button Size",
      "options": [{
          "value": "",
          "label": "Default"
        },
        {
          "value": "btn-sm",
          "label": "Small"
        },
        {
          "value": "btn-lg",
          "label": "Large"
        }
      ],
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Blog Posts Grid",
      "category": "Blog"
    }
  ]
}
{% endschema %}
