{{ 'mobile-nav-drawer.css' | asset_url | stylesheet_tag }}

{% assign logo_svg = section.settings.logo_svg %}
{% assign logo_image = section.settings.logo %}

<mobile-nav tabindex="0" data-touch-moveable>
    <div data-section-id="{{ section.id }}" class="mobile-nav-drawer d-flex flex-column" id="mobile-menu-drawer" data-role="drawer">
        {% assign main_menu = section.settings.main_menu_linklist %}
        {% assign secondary_menu = section.settings.secondary_menu_linklist %}

        <div class="drawer-header d-flex justify-content-between align-items-center px-4 py-3 bg-primary-100">
            <a href="{{ routes.root_url }}" class="navbar-brand nav-item mobile-header--logo" tabindex="0" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
                {%- if logo_svg != blank -%}
                    <img src="{{ section.settings.logo_svg }}" alt="{{ shop.name | escape }}" class="img-fluid" style="width: {{ section.settings.logo_width }}px" loading="lazy" width="150" height="150">
                {%- elsif logo_image != blank -%}
                    <img srcset="{{ section.settings.logo | image_url: width: 500 }}"
                        src="{{ section.settings.logo | image_url: width: 50 }}"
                        loading="lazy"
                        class="img-fluid"
                        width="{{ section.settings.logo.width }}"
                        height="{{ section.settings.logo.height }}"
                        alt="{{ section.settings.logo.alt | default: shop.name | escape }}" 
                        style="max-width: {{ section.settings.logo_width }}px" >
                {%- else -%}
                    <span class="h5 text-primary">{{ shop.name }}</span>
                {%- endif -%}
            </a>
            <a href="#" class="btn-close ml-auto float-right close-mobile--navbar" title="close" rel="nofollow" aria-label="Close">
                <span class="icon-close"></span>
            </a>
        </div>

        <div class="drawer-body">
        {% if main_menu %}
            <nav class="navbar-mobile {% if section.settings.mobilemenu_style == 'slide-submenu' %}navbar-mobile-slide{% else %}navbar-mobile-dropdown{% endif %}" aria-label="main-menu-list">
                <ul class="navbar-nav" id="main-menu-list">
                {% for link in linklists[main_menu].links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if link.links != blank %}
                    <li class="nav-item dropdown {% if link.active %}active{% endif %} second-level">
                        <a class="nav-link submenu-toggle d-flex align-items-center {{ link.handle }}" is="drop-down" tabindex="0" data-href="{{ link.url }}" role="button" data-toggle="open" data-target="#submenu-{{ child_list_handle }}" aria-expanded="false" title="{{ link.title }}" aria-label="{{ link.title }}">
                            <span class="nav-link-title">{{ link.title }}</span> 
                            <span class="icon-arrow-right text-center"></span>
                        </a>
                        <div class="submenu submenu-div dropdown-menu toggle-content" id="submenu-{{ child_list_handle }}" data-type="content">
                            {% if section.settings.mobilemenu_style == 'slide-submenu' %}
                            <a class="nav-link d-flex align-items-center close-submenu fw-bold text-uppercase py-3 {{ link.handle }}" tabindex="0" title="{{ link.title }}" aria-label="{{ link.title }}">
                                <span class="icon-arrow-left me-2"></span><span class="menu-title">{{ link.title }}</span> 
                            </a>
                            {% endif %}

                            {% for childlink in link.links %}
                                {% assign subchild_list_handle = childlink.title | handleize %}
                                {% if childlink.links != blank %}
                                    <div class="nav-item dropdown {% if forloop.first %}open{% endif %}">
                                        <a class="nav-link submenu-toggle d-flex align-items-center {{ link.handle }}" is="drop-down" tabindex="0" data-href="{{ link.url }}" role="button" data-toggle="open" data-target="#submenu-{{ child_list_handle }}" aria-expanded="false" title="{{ link.title }}" aria-label="{{ link.title }}">
                                            <span class="nav-link-title">{{ childlink.title }}</span> <span class="icon-arrow-right text-center"></span>
                                        </a>
                                        <div class="submenu submenu-div dropdown-menu toggle-content" id="submenu-{{ subchild_list_handle }}" data-type="content">
                                            {% if section.settings.mobilemenu_style == 'slide-submenu' %}
                                            <a class="nav-link d-flex align-items-center close-submenu fw-bold text-uppercase py-3 {% if childlink.active %} active{% endif %} {{ childlink.handle }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                                <span class="icon-arrow-left me-2"></span>{{ childlink.title }}
                                            </a>
                                            {% endif %}

                                            {% for subchildlink in childlink.links %}
                                                <div class="nav-item">
                                                    <a is="simple-menu-item" class="nav-link d-flex align-items-center {% if subchildlink.active %} active{% endif %} {{ subchildlink.handle }}" href="{{ subchildlink.url }}" title="{{ subchildlink.title }}" aria-label="{{ subchildlink.title }}">
                                                        {{ subchildlink.title }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="nav-item">
                                        <a is="simple-menu-item" class="nav-link d-flex align-items-center {% if childlink.active %} active{% endif %} {{ childlink.handle }}" href="{{ childlink.url }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                            {{ childlink.title }}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item {% if link.active %} active{% endif %}">
                        <a class="nav-link d-flex align-items-center" href="{{ link.url }}" is="simple-menu-item" title="{{ link.title }}" aria-label="{{ link.title }}">
                        {{ link.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {% if secondary_menu %}
            <nav class="navbar-mobile navbar-mobile-secondary" aria-label="secondary-menu-list">
                <ul class="navbar-nav" id="secondary-menu-list">
                {% for link in linklists[secondary_menu].links %}
                    {% assign child_list_handle = link.title | handleize %}
                        {% if link.links != blank %}
                            <li class="nav-item dropdown {% if link.active %}active{% endif %}">
                                <a is="drop-down" class="nav-link submenu-toggle d-flex align-items-center justify-content-between" data-href="{{ link.url }}" title="{{ link.title }}" aria-label="{{ link.title }}" tabindex="0" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="menu">
                                    <span>{{ link.title }}</span> <span class="icon-arrow-right"></span>
                                </a>
                                <div class="submenu dropdown-menu toggle-content" id="submenu-{{ child_list_handle }}" data-type="content">
                                    {% for childlink in link.links %}
                                        <a class="nav-link d-flex align-items-center {% if childlink.active %} active{% endif %}" is="simple-menu-item" href="{{ childlink.url }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                            {{ childlink.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                        <li class="nav-item {% if link.active %} active{% endif %}">
                            <a is="simple-menu-item" class="nav-link d-flex align-items-center" href="{{ link.url }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        {% endif %}
        </div>
    
        <div class="drawer-footer text-left px-2 py-3 mt-auto">
        {% if section.settings.mobile_nav_show_social_links %}
            {% if section.settings.col_3_heading != blank %}
                <h6 class="small mb-3">{{ section.settings.col_3_social_heading }}</h6>
            {% endif %}
    
            <ul class="list-unstyled list-inline social-icons">
                {% if section.settings.social_icon_facebook %}
                <li class="list-inline-item">
                    <a href="{{ settings.social_facebook_link }}" title="Facebook" rel="nofollow" aria-label="Facebook"><span class="icon-facebook"></span></a>
                </li>
                {% endif %}
        
                {% if section.settings.social_icon_twitter %}
                <li class="list-inline-item">
                    <a href="{{ settings.social_twitter_link }}" title="Twitter" rel="nofollow" aria-label="Twitter"><span class="icon-twitter"></span></a>
                </li>
                {% endif %}
        
                {% if section.settings.social_icon_instagram %}
                <li class="list-inline-item">
                    <a href="{{ settings.social_instagram_link }}" title="Instagram" rel="nofollow" aria-label="Instagram"><span class="icon-instagram"></span></a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    
    </div>
</mobile-nav>



{% schema %}
{
  "name": "Mobile Drawer",
  "settings": [
    {
        "type": "header",
        "content": "t:sections.header.settings.header_logo.label"
    },
    {
        "type": "textarea",
        "id": "logo_svg",
        "label": "t:sections.header.settings.logo_svg.label",
        "info": "t:sections.header.settings.logo_svg.info"
    },
    {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
    },
    {
        "type": "header",
        "content": "t:sections.header.settings.header_stlying.label"
    },
    {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "t:sections.header.settings.logo_width.unit",
        "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "main_menu_linklist",
      "label": "Select Main Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu_linklist",
      "label": "Select Secondary Menu"
    },
    {
      "type": "select",
      "id": "mobilemenu_style",
      "options": [
        {
          "value": "dropdown-submenu",
          "label": "Dropdown Submenu"
        },
        {
          "value": "slide-submenu",
          "label": "Slide Submenu"
        }
      ],
      "default": "slide-submenu",
      "label": "Select Submenu Style"
    },
    {
      "type": "header",
      "content": "Social Networks"
    },
    {
      "type": "checkbox",
      "id": "mobile_nav_show_social_links",
      "label": "Show Socials?",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Select Networks"
    },
    {
      "type": "checkbox",
      "id": "social_icon_facebook",
      "label": "Facebook",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_twitter",
      "label": "Twitter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_instagram",
      "label": "Instagram",
      "default": true
    }
  ]
}
{% endschema %}